<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:zoe="http://www.luxy.org/zoe"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.luxy.org/zoe
       http://www.luxy.org/zoe.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-3.0.xsd
       http://www.springframework.org/schema/context

       http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName" default-lazy-init="false">
    <context:annotation-config/>
    <context:component-scan base-package="test.zoe"/>

    <bean id="xmlOtcStoresConfParse" class="test.zoe.xmlRes.AreaErpDistributionConf.XmlOtcStoresConfParse">
        <constructor-arg name="path" value="classpath:/area_erp_distr.xml" />
    </bean>

    <!--     在配置文件中配置常量       -->
    <bean id="constants" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="USD">
                    <value>美元</value>
                </entry>
            </map>
        </constructor-arg>
    </bean>

    <bean id="vcConstantUtils" class="test.zoe.commonValueInject.VcConstantUtils">
    <!--     将常量注入单例对象中       -->
    <property name="constantMap">
        <ref bean="constants"/>
    </property>
    </bean>

    <zoe:facade id="abcd" interCode="1234" reqEvent="test" resEvent="res"></zoe:facade>
</beans>